body{color: #d7d6d9 !important;background: #36393f url('') !important;background-repeat: no-repeat !important;background-attachment: fixed !important;background-position: center top !important;}
a{color: #7289DA !important;}
.h1, h2, h3, h4, h5, h6{color: #d7d6d9 !important;}
.widget{background: linear-gradient(90deg, #202225 70%, #202225 60%) !important;}
.widget-content-area{background: linear-gradient(45deg, #2f3136 60%, #202225 60%) !important; }
.bio .widget-content-area h5{color: #7289DA !important;}
.bio .widget-content-area .b-skills{background: linear-gradient(135deg, #40444b 75%, #7289DA 60%) !important;}
.list-group-item{background: linear-gradient(#2f3136, #2f3136) !important;border:4px solid #202225 !important}}
.list-group-item{color: #d7d6d9 !important;}
.table.table.table-striped{border-collapse: collapse;background: #2f3136;width: 100%;}
.table>tbody>tr>td{border:none;color:#d7d6d9 !important;}
.table-responsive b font{color: #d7d6d9 !important;}
.table-responsive tr td[align^=right] font{color: #d7d6d9 !important;}
.table>tbody tr {border-color: #7289da !important;}
#sidebar{background: linear-gradient(180deg, #202225 80%, #202225) !important;box-shadow: 5px 5px #7289da !important;}
.menu a{color: #c1c1c1 !important;}
#sidebar ul.menu-categories li.menu > .dropdown-toggle[aria-expanded="true"]:not([data-active="true"]){background: #2f3136 !important;}
.menu a:hover{background-color: #7289DA !important;}
.navbar{background: linear-gradient(-45deg, #2f3136, #40444b, #202225, #7289da);background-size: 400% 400%;-webkit-animation: gradient 15s ease infinite;animation: gradient 15s ease infinite;}
@-webkit-keyframes gradient {0% {background-position: 0% 50%;}50% {background-position: 100% 50%;}100% {background-position: 0% 50%;}}
@keyframes gradient {0%{background-position: 0% 50%;}50% {background-position: 100% 50%;}100% {background-position: 0% 50%;}}
.sub-header-container .navbar{background: linear-gradient(45deg, #2f3136, #40444b);}
.bg-danger{background-image: linear-gradient(45deg, #7289DA, #7289DA) !important;}
.bio .widget-content-area h3:after{background: #7289DA !important;}
.progress .progress-bar.bg-gradient-success{background-image: linear-gradient(45deg, #7289DA, #7289DA);}
.progress{background: #202225 !important;}
.little-space p{background: linear-gradient(#202225, #202225) !important;box-shadow:inset 0 0 2px 0 rgba(255,255,255,.4),inset 0 0 3px 0 rgba(0,0,0,.4),inset 0 0 3px 5px rgba(0,0,0,.05),2px 2px 4px 0 rgba(0,0,0,.25);}
.sub-header-container .navbar .sidebarCollapse svg{width:20px;height:20px;color:#7289DA;vertical-align:text-top}
.select2-results{color: #7289DA !important;}
.select2-dropdown{background-color: #202225 !important;}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{background-color: #7289DA !important;}
.select2-search__field{background-color: #202225 !important;color: #7289DA !important;}
.select2-container--default .select2-selection--single{border: 2px solid #202225 !important;border-radius: 8px !important;background-color: #7289DA !important;}
.select2-container--default .select2-selection--single .select2-selection__rendered{color: #202225 !important;}
.select2-container--default .select2-results__option--selected{background-color: #7289DA !important;color: #40444b !important;}
#sidebar ul.menu-categories li.menu>.dropdown-toggle svg{color:#7289da !important;}
#sidebar ul.menu-categories.ps{border:0px dashed #000000 !important}
#divSBPost {filter: hue-rotate(120deg);}
.sbox {filter: hue-rotate(120deg);}