body{color: #e8e8e8 !important;background: #000000 url('') !important;background-repeat: no-repeat !important;background-attachment: fixed !important;background-position: center top !important;}
a{color: #e8e8e8 !important;}
.h1, h2, h3, h4, h5, h6{color: #e8e8e8 !important;}
.widget{background: linear-gradient(#000000, #000000) !important;border:1px solid #FFFFFF !important}
.border-bottom-dashed{border-bottom:0px !important}
.widget-content-area{background: linear-gradient(#000000, #000000) !important; }
.bio .widget-content-area h5{color: #e8e8e8 !important;}
.bio .widget-content-area .b-skills{background: #000000 !important;box-shadow: 2px 2px #FFFFFF !important;}
.list-group-item{background: linear-gradient(#000000, #000000) !important;border:1px solid #000000 !important}
.list-group-item{color: #e8e8e8 !important;}
.table.table.table-striped{border-collapse: collapse;background: #000000;width: 100%;}
.table>tbody>tr>td{border:none;color:#e8e8e8 !important;}
.table-responsive b font{color: #e8e8e8 !important;}
.table-responsive tr td[align^=right] font{color: #e8e8e8 !important;}
.table>tbody tr {border-color: #000000 !important;}
#sidebar{background: #000000 !important;}
.menu a{color: #e8e8e8 !important;border:1px solid #e8e8e8 !important;}
#sidebar ul.menu-categories li.menu>.dropdown-toggle svg{color:#e8e8e8 !important;}
#sidebar ul.menu-categories.ps{border:0px dashed #000000 !important}
#sidebar ul.menu-categories li.menu > .dropdown-toggle[aria-expanded="true"]:not([data-active="true"]){background: #e8e8e8 !important;color: #000000 !important}
.menu a:hover{background-color: #e8e8e8 !important;color: #000000 !important;border:1px solid #FFFFFF !important}
.navbar{background: linear-gradient(-45deg, #FFFFFF, #000000, #FFFFFF, #000000);background-size: 400% 400%;-webkit-animation: gradient 15s ease infinite;animation: gradient 15s ease infinite;}
@-webkit-keyframes gradient {0% {background-position: 0% 50%;}50% {background-position: 100% 50%;}100% {background-position: 0% 50%;}}
@keyframes gradient {0%{background-position: 0% 50%;}50% {background-position: 100% 50%;}100% {background-position: 0% 50%;}}
.sub-header-container .navbar{background: linear-gradient(45deg, #000000, #000000);}
.bg-danger{background-image: linear-gradient(45deg, #e8e8e8, #e8e8e8) !important;}
.bio .widget-content-area h3:after{background: #e8e8e8 !important;}
.progress .progress-bar.bg-gradient-success{background-image: linear-gradient(45deg, #e8e8e8, #e8e8e8);}
.progress{background: #000000 !important;}
.little-space p{background: linear-gradient(#000000, #000000) !important;box-shadow:inset 0 0 2px 0 rgba(255,255,255,.4),inset 0 0 3px 0 rgba(0,0,0,.4),inset 0 0 3px 5px rgba(0,0,0,.05),2px 2px 4px 0 rgba(0,0,0,.25);}
.sub-header-container .navbar .sidebarCollapse svg{width:20px;height:20px;color:#FFFFFF;vertical-align:text-top}
.select2-results{color: #e8e8e8 !important;}
.select2-dropdown{background-color: #000000 !important;}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{background-color: #e8e8e8 !important;color: #000000 !important;}
.select2-search__field{background-color: #e8e8e8 !important;color: #000000 !important;}
.select2-container--default .select2-selection--single{border: 1px solid #e8e8e8 !important;border-radius: 8px !important;background-color: #000000 !important;}
.select2-container--default .select2-selection--single .select2-selection__rendered{color: #e8e8e8 !important;}
.select2-container--default .select2-results__option--selected{background-color: #e8e8e8 !important;color: #000000 !important;}
#divSBPost {filter: grayscale(100%);}
.sbox {filter: grayscale(100%);}