body{color: #c1c1c1 !important;background: #000000 url('theme02background.jpg') !important;background-repeat: no-repeat !important;background-attachment: fixed !important;background-position: center top !important;}
.widget{background: linear-gradient(90deg, #200607 70%, #640203 60%) !important;}
.widget-content-area{background: linear-gradient(45deg, #343434 60%, #200607 60%) !important; }
.bio .widget-content-area .b-skills{background: #640203 !important;box-shadow: 5px 5px #343434 !important;}
.list-group-item{background: linear-gradient(#343434, #343434) !important;border:1px solid #640203 !important}}
a{color: #FFFFFF !important;}
.list-group-item{color: #FFFFFF !important;}
.table.table.table-striped{border-collapse: collapse;background: #200607;width: 100%;}
#sidebar{background: linear-gradient(180deg, #343434 80%, #c1c1c1) !important;opacity: 1.0;box-shadow: 5px 5px #640203 !important;}
.menu a{color: #c1c1c1 !important;}
.border-bottom-dashed{border-bottom:1px dashed #a60306 !important}
.table>tbody>tr>td{border:none;color:#c1c1c1 !important;}
.table-responsive b font{color: #c1c1c1 !important;}
.table-responsive tr td[align^=right] font{color: #c1c1c1 !important;}
.h1, h2, h3, h4, h5, h6{color: #FFFFFF !important;}
.bg-danger{background-image: linear-gradient(45deg, #640203, #640203) !important;}
.bio .widget-content-area h3:after{background: #a60306 !important;}
.progress .progress-bar.bg-gradient-success{background-image: linear-gradient(45deg, #640203, #a60306);}
.progress{background: #343434 !important;}
#sidebar ul.menu-categories li.menu > .dropdown-toggle[aria-expanded="true"]:not([data-active="true"]){background: #200607 !important;}
.little-space p{background: linear-gradient(#a60306, #640203) !important;box-shadow:inset 0 0 2px 0 rgba(255,255,255,.4),inset 0 0 3px 0 rgba(0,0,0,.4),inset 0 0 3px 5px rgba(0,0,0,.05),2px 2px 4px 0 rgba(0,0,0,.25);}
.menu a:hover{background-color: #640203 !important;}
#charselectdropdown{color: #dbf8fe !important;background: #dbf8fe !important;}
.navbar{background: linear-gradient(-45deg, #c1c1c1, #200607, #a60306, #640203);background-size: 400% 400%;-webkit-animation: gradient 15s ease infinite;animation: gradient 15s ease infinite;}
@-webkit-keyframes gradient {0% {background-position: 0% 50%;}50% {background-position: 100% 50%;}100% {background-position: 0% 50%;}}
@keyframes gradient {0%{background-position: 0% 50%;}50% {background-position: 100% 50%;}100% {background-position: 0% 50%;}}
.sub-header-container .navbar{background: linear-gradient(45deg, #c1c1c1, #200607);}
.select2-results{color: #000000 !important;}
.select2-dropdown{background-color: #c1c1c1 !important;color: #FF0000 !important;}
.select2-container--default .select2-selection--single{border: 1px solid #FFFFFF !important;border-radius: 8px !important;background-color: #a60306 !important;color: #FF0000 !important;}
.select2-container--default .select2-selection--single .select2-selection__rendered{color: #FFFFFF !important;}
.select2-container--default .select2-results__option--selected{background-color: #a60306 !important;}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{background-color: #200607 !important;}
.select2-search__field{background-color: #343434 !important;color: #FFFFFF !important;}
.sub-header-container .navbar .sidebarCollapse svg{width:20px;height:20px;color:#a60306;vertical-align:text-top}
.table>tbody tr {border-color: #640203 !important;}
#sidebar ul.menu-categories li.menu>.dropdown-toggle svg{color:#9f0306 !important;}
#divSBPost {filter: hue-rotate(400deg);}
.sbox {filter: hue-rotate(-120deg);}